 .navbar{
     margin: auto;
     width: 70%;
     display: flex;
     padding: 12px 20px;
     justify-content: space-between;
     align-items: center;
     align-self: stretch;
     border-radius: 40px;
     background: #FFF;
     box-shadow: 0 16px 12px 0 rgba(0, 0, 0, 0.03);
 }
 .navbar a{
     color: black;
 }

 .inicio{
     display: flex;
     height: 767px;
     padding: 0 312px;
     flex-direction: column;
     align-items: center;
     align-self: stretch;
     background:  #F8F9FA;
 }

 .tetes{
    word-spacing:44px;

 }