.navbar {
    z-index: 10;
    margin: auto;
    width: 70%;
    display: flex;
    padding: 12px 20px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 40px;
    background: #FFF;
    box-shadow: 0 16px 12px 0 rgba(0, 0, 0, 0.03);
}

.navbar a {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.nav-links {
    word-spacing: 44px;
    text-align: center;
}

.nav-links a {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.nav-links a:hover {
    color: #FD7E14;
    text-decoration: underline #FD7E14;
}

.inicio {
    position: relative;
    z-index: 1;
    overflow: visible;
    display: flex;
    height: 610px;
    padding: 0 312px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    background: #EDEDED;
}

.dados-inicio{
    width: 70%;
    position: absolute;
    top: 9%;
    padding: 10px;
    color: #000;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.frase-de-efeito {
    z-index: 9;
    position: absolute;
    top: 40%;
    left: 10%;
    width: 80%;
    overflow: visible;
    color: #000;
    text-overflow: ellipsis;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 130px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.frase-de-efeito h3 {
    font-size: 40px;
    font-weight: 700;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 1.5;
    color: #000;
}

.frase-de-efeito button {
    background-color: #000000;
    width: 130px;
    border-radius: 12px;
}

.frase-de-efeito img {
    position: absolute;
    z-index: 10;
    top: -120px;
    left: 33%;
    width: 204px;
    height: 204px;
}

.imagem-inicio {
    z-index: 1;
    width: 600px;
    height: 453px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-left: 90%;
    margin-top: 22%;
}

.mensagens-imagens {
    margin-top: 50px;
    position: relative;
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.icons-esquerda {
    margin-right: 100px;
}

.img-centro {
    margin-right: 50px;
}

.icons-direita {
    margin-left: 100px;
}

.icons-direita{
    margin-left: 50px;
}

.img-casa-cachorro {
    width: 102px;
    height: 88px;
}

.div-mensagens{
    position:relative;
    z-index: 2;
}

.frase{
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    margin-top: 50px;
    margin-left: 18%;
}

.frase-procurar-animais{
    margin-left: 23%;
}

.animais {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 70%;
    margin: 40px auto;
}

.card-animal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    border-radius: 7%;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card-animal:hover{
    width: +105%;
    height: 400px;
}

.card-animal img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.card-animal a{
    text-decoration: none;
}

.animais-informacoes {
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.nome {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.descricao {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.procurar-por-animais{
    padding: 0 16% 0 16%;
}

.frase{
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    margin-top: 70px;
}

.imagens {
    position: relative;
    margin-top: 30px;
    width: 150px;
    height: 144px;
    flex-shrink: 0;
    max-width: 100%;
    display: flex;
    gap: 200px;
}

.imagens-container{
    position: relative;
    width: 150px;
    height: 144px;
    flex-shrink: 0;
}

.imagens-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.imagem-original{
    opacity: 1;
}

.replacement-img {
    position: absolute;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.2s;
}

.img-hover:hover .replacement-img {
    opacity: 1;
}

.footer {
    width: 100%;
    margin-left: 0;
    margin-top: 100px;
    background: #EDEDED;
    border-top: 1px solid #eee;
    padding-left: 15px;
    padding-right: 15px;
}

.footer-brand {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}

.footer-text {
    overflow: hidden;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 128.3%;

}

.social-links {
    margin: 20px 0;
}

.social-link {
    color: #6c757d;
    margin-right: 20px;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.social-link:hover {
    color: #0d6efd;
}

.col-md-6 {
    margin-top: 30px;
    margin-left: 100px;
}

.footer-links {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-links a {
    overflow: hidden;
    color: #000;
    text-overflow: ellipsis;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #0d6efd;
}

.copyright {
    color: #6c757d;
    font-size: 0.85rem;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}

.filtro{
    display: flex;
    width: 966px;
    justify-content: space-between;
    align-items: center;
    margin-left: 215px;
    margin-top: 50px;

}

.quantidade-filtro{
    color: var(--Gray-600, #6C757D);
    leading-trim: both;
    text-edge: cap;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.botao-filtro{
    display: flex;
    width: 95px;
    height: 30px;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1.5px solid var(--Gray-600, #6C757D);
    color: var(--Gray-600, #6C757D);
    leading-trim: both;
    text-edge: cap;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.trocar-pagina{
    background-color: purple;
    display: flex;
    width: 500px;
    margin-left: 50%;
}

.botao-num-pagina{
    display: flex;
    width: 40px;
    height: 40px;
    padding: 7px 9px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 10px;
    border-radius: 8px;
    border: 2px solid var(--Gray-600, #6C757D);
    color: var(--Gray-600, #6C757D);
    leading-trim: both;
    text-edge: cap;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.botao-proxima-pagina{
    margin-left: 60%;
    display: flex;
    height: 40px;
    padding: 15px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 2px solid var(--Gray-600, #6C757D);
    color: var(--Gray-600, #6C757D);
    leading-trim: both;
    text-edge: cap;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.formulario-login{
    display: flex;
    width: 550px;
    height: 387px;
    flex-direction: column;
    flex-shrink: 0;
    border-radius: 20px;
    background: #F5F5F5;
    justify-content: center;
    align-items: center;
    margin: 10% 0 0 30%;
}

.formulario-login h2, .formulario-cadastro h2{
    margin: -20px 0 5% 0;
    color: var(--Default-Black, #000);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; 
}

.formulario-cadastro h2{
    margin: 20px 0 5% 0;
}

.formulario-login, .formulario-cadastro label{
    color: black;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 20px;
    word-wrap: break-word
}

.formulario-login input, .formulario-cadastro input, .formulario-cadastro select{
    flex: 1 0 0;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 

    display: flex;
    padding: 9px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 6px;
    border-width: 0;
    background: var(--Default-White, #FFF);
    width: 438px;
    height: 40px;
}

.label-nome-e-sobrenome{
    gap: 190px;
    display: flex;
}

.input-nome-e-sobrenome{
    gap: 20px;
    display: flex;
    width: 190px;
}

.botao-entrar{
    color: var(--Default-White, #FFF);
    leading-trim: both;
    text-edge: cap;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    text-align: center; 
    background-color: black;
    color: white;
    border: 1px solid black; 
    padding: 8px 20px; 
    width: 248px;
    height: 40px; 
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    display: block; 
    margin: 0 auto; 
}

.texto-criar-conta {
    display: flex;
    margin-top: 20px;
    color: #000;
    leading-trim: both;
    text-edge: cap;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.texto-criar-conta a {
    color: #00F;
    leading-trim: both;
    text-edge: cap;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.formulario-cadastro{
    display: flex;
    width: 550px;
    height: 50%;
    flex-direction: column;
    flex-shrink: 0;
    border-radius: 20px;
    background: #F5F5F5;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 30%;
}

.dados-animal{
    display: flex;
    padding: 20px 70px 0;
    justify-content: space-around;
    text-align: center;
    width: 100%;
}

.dados-animal dd{
    color: #D91616;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; 
    margin: 0;
}

.dados-animal dt{
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.80);
    leading-trim: both;
    text-edge: cap;
    text-overflow: ellipsis;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; 
}